
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="default" ng-app="app"> <!--<![endif]-->
    <head>
        <title>
            {% block title %}
                Weather Information
            {% endblock %}
        </title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <meta name="viewport" content="width=1160, initial-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        {% block top_css %}
        {% endblock %}

    </head>
    <body>
        {% block header %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
        
        {% block footer_js %}
        {% endblock %}

    </body>
</html>
